<header class="header">
    <div class="header__slider">
        <div class="header__slider-item slider-item">
            <div class="slider-item__info">
                <div class="slider-item__info-suptitle suptitle-left">Surf</div>
                <div class="slider-item__info-title">North Shore</div>
                <div class="slider-item__info-suptext suptitle-left">Condition</div>
                <div class="slider-item__info-text">Radical</div>
                <a class="slider-item__info-link" href="" >
                    <img src="img/arrows-right.svg" alt="">
                </a>
            </div>
        </div>

        <div class="header__slider-item slider-item">
            <div class="slider-item__info">
                <div class="slider-item__info-suptitle suptitle-left">Surf</div>
                <div class="slider-item__info-title">South Shore</div>
                <div class="slider-item__info-suptext suptitle-left">Condition</div>
                <div class="slider-item__info-text">Radical</div>
                <a class="slider-item__info-link" href="" >
                    <img src="img/arrows-right.svg" alt="">
                </a>
            </div>
        </div>

        <div class="header__slider-item slider-item">
            <div class="slider-item__info">
                <div class="slider-item__info-suptitle suptitle-left">Surf</div>
                <div class="slider-item__info-title">West Shore</div>
                <div class="slider-item__info-suptext suptitle-left">Condition</div>
                <div class="slider-item__info-text">Radical</div>
                <a class="slider-item__info-link" href="" >
                    <img src="img/arrows-right.svg" alt="">
                </a>
            </div>
        </div>

        <div class="header__slider-item slider-item">
            <div class="slider-item__info">
                <div class="slider-item__info-suptitle suptitle-left">Surf</div>
                <div class="slider-item__info-title">East Shore</div>
                <div class="slider-item__info-suptext suptitle-left">Condition</div>
                <div class="slider-item__info-text">Radical</div>
                <a class="slider-item__info-link" href="" >
                    <img src="img/arrows-right.svg" alt="">
                </a>
            </div>
        </div>   
    </div>
</header>